div {
  color: rgba(255, 72, 0, 0.573);
}

#div1 {
  color: green;
}

#div2 {
  color: rgb(68, 0, 255);
}

#unorder-list {
  color: rgb(193, 135, 144);
  /* font-size: 2rem; */
}

#order-list {
  color: rgb(50, 164, 205);
}

.large-font {
  font-size: 2rem;
}

.deep-background {
  background-color: black;
  font-size: 4rem;
}

.version {
  background-color: green;
  color: white;
  padding: 2px 10px;
  border-radius: 10px;
}
