* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

#block {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

/* .a,
.b,
.c {
  width: 50px;
  border: 2px solid #000;
  margin: 10px;
  text-align: center;
  flex-grow: 1;
}

.a {
  width: 30%;
}

.b {
  width: 10%;
  flex-grow: 3;
}
.c {
  width: 10%;
  flex-shrink: 2;
} */
